<ion-header>
  <ion-toolbar>
    <ion-buttons class="inner-buttons" slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Create New Topic</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="createWordForm" (submit)="createTheme()">
    <ion-item>
      <ion-label stacked>Mandarin</ion-label>
      <ion-input formControlName="topic" type="text" placeholder="Input topic"> </ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Topic</ion-label>
      <ion-input formControlName="translate" type="text" placeholder="Input topic translate?">
      </ion-input>
    </ion-item>


    <ion-button expand="block" type="submit" [disabled]="!createWordForm.valid"> Add Topic</ion-button>
  </form>
</ion-content>