<ion-content>
  <ion-toolbar class="inner-toolbar">
    <ion-title></ion-title>
    <ion-buttons class="inner-buttons" slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <div class="wrap">
    <div class="tit">每日英语</div>
    <div class="tit_t">Daily English</div>
    <div class="subtit">每日学习 循序渐进</div>
    <div class="subtit_t">Learn daily, step by step</div>
    <div class="cont">
      <div class="tit">学习英语</div>
      <div class="tit_t">learning English</div>
      <div class="subtit">·点滴积累 反复联系</div>
      <div class="subtit_t">·Accumulate bit by bit, practice repeatedly</div>
      <div class="subtit">·选择合适自己的学习方式</div>
      <div class="subtit_t">·Choose the learning method that suits you</div>
      <div class="day">
        <div class="tit">
          <div class="">今日训练</div>
          <div class="icon">
            <ion-icon name="search"></ion-icon>
          </div>
        </div>
        <div class="num flex flex-around">
          <div class="flex flex-center align-bottom">
            <div class="nums">20</div>
            <div class="">词</div>
          </div>
          <div class="flex flex-center align-bottom">
            <div class="nums">20</div>
            <div class="">词</div>
          </div>
        </div>
        <div class="num_tit flex flex-around">
          <div class="">需新学</div>
          <div class="">错题本</div>
        </div> -->
        <div class="btns flex flex-center">
          <div class="btn" routerLink="/theme">开始学习</div>
          <!-- <div class="btn" routerLink="/word-info">返回上次学习</div> -->
          <!-- <div class="btn error">进入错题本</div> -->
        </div>
      </div>
      <div class="btn">词汇量测试</div>
      <!-- <div class="btn" >
        选择主题
      </div> -->
    </div>
  </div>
</ion-content>
